body {
    background-color: #e0eff3;
}

.card {
    background-color: rgb(69, 155, 194);
    width: 20rem;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}

.container {
    margin: 30px auto;
    width: 650px;
}

#highscoreslink {
    margin-left: 20px;
}

#timer {
    margin-right: 30px;
}

table {
    text-align: left;
    width: 260px;
    background-color: #737d8f;
    
}

button {
    background-color: #773499;
    color: #ffffff;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}

#lastPart {
    background-color: rgb(69, 155, 194);
    border-radius: 20px;
    padding: 10px 20px;
}

.hiding {
    display: none;
}

#theQuestions {
    background-color: rgb(69, 155, 194);
    border-radius: 20px;
    padding: 10px 20px;
    height: 500px;
}

#theQuestions h2 {
    padding: 100px;
    color: #e0eff3;
    border-radius: 20px;
}

#scoreslink {
    background-color: rgb(69, 155, 194);
}

#highScores {
    background-color: rgb(69, 155, 194);
    border-radius: 20px;
    padding: 10px 20px;
}

.answers {
    display: block;
}

a {
    color: #edd8db;
}

td {
    padding: 10px 15px;
    border-bottom: 1px solid #707d93;
}

li {
    list-style-type: none;
}
